  <!-- INCLUDE NON FONCTIONNEL -->
<% include('./partials/head') %>


<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



  <title>Raie Creation</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Raie creation</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Liste des rendez-vous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="add">Ajout un rendez-vous</a>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container">
    <h2>Prendre un rendez-vous</h2>
    <form method="POST" action="#">
      <div class="form-group">
        <label for="exampleInputEmail1">Nom</label>
        <input type="text" class="form-control" placeholder="Nom" name="firstname">
        <label for="exampleInputEmail1">Prénom</label>
        <input type="text" class="form-control" placeholder="Prénom" name="name">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="text" class="form-control" placeholder="E-mail" name="email">
        <label for="exampleInputEmail1">phone</label>
        <input type="text" class="form-control" placeholder="06 76 05 75 07" name="phone">
        <label for="exampleInputEmail1">Rue</label>
        <input type="text" class="form-control" placeholder="15 rue ...." name="street">
        <label for="exampleInputEmail1">Date du rendez-vous</label>
        <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="date_appointment">


        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
  </div>
  <!-- Optional JavaScript -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
  <!-- INCLUDE NON FONCTIONNEL -->
  <% include ('./partials/footer') %>
